.video-js .vjs-dock {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.5em 1em;

  .vjs-dock-title {
    font-size: 2em;
    margin: 1em 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }














  background: rgba(0,0,0,0.7);
  /* Old Browsers */background: -moz-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(77,77,77,0) 30%, rgba(255,255,255,0) 100%);
   /* FF3.6+ */background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.7)), color-stop(30%, rgba(77,77,77,0)), color-stop(100%, rgba(255,255,255,0)));
  /* Chrome, Safari4+ */background: -webkit-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(77,77,77,0) 30%, rgba(255,255,255,0) 100%);
   /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(77,77,77,0) 30%, rgba(255,255,255,0) 100%);
   /* Opera 11.10+ */background: -ms-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(77,77,77,0) 30%, rgba(255,255,255,0) 100%);
   /* IE 10+ */background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(77,77,77,0) 30%, rgba(255,255,255,0) 100%);
  /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=0 );
  /* IE6-9 */

}
